{% extends "base.html" %}

{% load static %}

{% block meta  %}

    <script src="{% static 'vendor/xterm/xterm.js' %}"></script>
    <script src="{% static 'vendor/xterm/xterm-addon-fit.min.js' %}"></script>
    <link href="{% static 'vendor/xterm/xterm.css' %}" rel="stylesheet">
    
    <script src="{% static 'js/terminal.js' %}"></script>

{% endblock %}



{% block content  %}

Termianl TEST
<div id="terminal"></div>


<script>
    function setupSocket(url) {

        const socket = new WebSocket(url)
        socket.onmessage = (e) => {
            let data = JSON.parse(e.data);
            console.log("WebSocket message:", data);
        }

        return socket
    }
    window.addEventListener('load', () => {
        const frame = document.getElementById('terminal')
        const terminal = new Terminal()

        terminal.init()
        terminal.createQui(frame)

        const url = `ws://${window.location.host}/ws/term/session/2/`
        const socket = setupSocket(url)


        terminal.setWebSocket(socket)
    })
</script>

{% endblock %}