{% extends "base.html" %}

{% load static %}

{% block meta %}

<script src="{% static 'vendor/xterm/xterm.js' %}"></script>
<script src="{% static 'vendor/xterm/xterm-addon-fit.min.js' %}"></script>
<link href="{% static 'vendor/xterm/xterm.css' %}" rel="stylesheet">

<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/channels.js' %}"></script>
<script src="{% static 'js/terminal.js' %}"></script>


{% endblock %}



{% block content %}

Termianl TEST
<div id="terminal"></div>


<script>
    const url = `ws://${window.location.host}/ws/term/session/`
    const manager = new Manager(url)

    window.addEventListener('load', () => {
        manager.connect()
    })

</script>

{% endblock %}