{% extends "base.html" %}

{% load static %}

{% block meta  %}

    <script src="{% static 'vendor/xterm/xterm.js' %}"></script>
    <link href="{% static 'vendor/xterm/xterm.css' %}" rel="stylesheet">

{% endblock %}



{% block content  %}

Termianl TEST
<div id="terminal"></div>


<script>
    window.addEventListener('load', () => {
        const termOptions = {
            cursorBlink: true,
            theme: {
              background: "black",
              foreground: "white",
              cursor: "white",
            },
        };

        const url = `ws://${window.location.host}/ws/term/session/1/`
        const container = document.getElementById('terminal')


        const socket = new WebSocket(url)
        const term = new window.Terminal(termOptions);

        term.open(container);
        term.focus()

        socket.onmessage = (e) => {
            let data = JSON.parse(e.data);
            console.log("WebSocket message:", data);
            term.write(data);

        }
    })
</script>

{% endblock %}