{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>{{title|default:"KVM Portal"}}</title>
    

    {% block meta %}
    <!-- Additional metadata can be added here by child templates -->
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    {% block content %}
    <!-- Main content goes here -->
    {% endblock %}
</body>
</html>