*.pyc
db.sqlite3
db.sqlite3-journal
.DS_Store
.env
**/settings/local.py
/staticfiles/*
/media/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/frontend/webpack-stats.json
/frontend/src/api/*


# General
/venv/
/env/
/output/
/cache/

# templated email
tmp_email/

.direnv
.envrc
.tool-versions


###############################
# FRONEND:
####################################

./frontend/node_modules/*
./frontend/node_modules/**/*
./frontend/package-lock.json
./frontend/webpack_bundles